.header {
    height: 950px;
    &__nav {
        display: flex;
        align-items: center;
        padding: 40px;
        &-list {
            display: flex;
            gap: 40px;
            margin: 10px 0 0 445px;
        }
        &-item {
            font-size: 20px;
            font-weight: 400;
            font-family: 'Jost', sans-serif;
            text-transform: capitalize;
            color: #292F36;
        }
    }
    &__hero {
        position: relative;
        &-img {
            position: absolute;
            width: 94%;
            left: 35px;
        }
        h1 {
            position: absolute;
            font-size: 60px;
            font-weight: 400;
            font-family: 'DM Serif Display', serif;
            color: #292F36;
            top: 200px;
            left: 70px;
            z-index: 1;
        }
        &-text {
            position: absolute;
            font-size: 20px;
            font-weight: 400;
            font-family: 'Jost', sans-serif;
            line-height: 30px;
            color: #4D5053;
            top: 380px;
            left: 70px;
        }
        &-btn {
            position: absolute;
            font-size: 18px;
            font-weight: 400;
            text-transform: capitalize;
            color: #fff;
            background-color: #292F36;
            border: none;
            border-radius: 18px;
            padding: 24px 40px;
            top: 560px;
            left: 70px;
        }
    }
}