.section2 {
    height: 720px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    &__title {
        font-size: 50px;
        font-weight: 400;
        font-family: 'DM Serif Display', serif;
        color: #292F36;
        margin: 25px 0 0 0;
    }
    &__text {
        font-size: 20px;
        font-weight: 400;
        font-family: 'Jost', sans-serif;
        line-height: 30px;
        color: #4D5053;
        margin: 20px 0;
    }
    &__num {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Jost', sans-serif;
        line-height: 28px;
        margin: 25px 0 80px 20px;
    }
    &__btn {
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background-color: #292F36;
        border: none;
        border-radius: 18px;
        padding: 25px 35px;
    }
}